@using WilPick.ViewModels;
@model PlayerLoadTransactionsViewModel;
@{
    // ViewData["Title"] = "Todays Bet";
    // bool isCuttOff = ViewData["IsCuttOff"] is bool b && b;
}

<h1>Load Transactions</h1>
<hr />

@* <div class="row">
    <div class="col-6"> *@
<form asp-action="PlayerLoadTransactions" method="post" class="row g-3 mb-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-3">
        <label asp-for="FromDate" class="form-label"></label>
        <input asp-for="FromDate" type="date" class="form-control" />
    </div>

    <div class="col-md-3">
        <label asp-for="ToDate" class="form-label"></label>
        <input asp-for="ToDate" type="date" class="form-control" />
    </div>    
    
    <div class="col-md-3 align-self-end">
        <button type="submit" class="btn btn-primary">
            Retrieve
        </button>
    </div>

    <div class="d-flex justify-content-end mb-2">
        <a class="btn btn-success me-2" asp-controller="Transactions" asp-action="CreateLoadTransaction">Create Load</a>
    </div>

    @if (Model?.LoadDetails != null && Model.LoadDetails.Any())
    {
        <table class="table table-responsive table-striped table-hover align-middle">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.LoadDetails[0].RowNum)</th>
                    <th>@Html.DisplayNameFor(model => model.LoadDetails[0].RequestedDate)</th>
                    <th>@Html.DisplayNameFor(model => model.LoadDetails[0].RequestedAmount)</th>
                    <th>@Html.DisplayNameFor(model => model.LoadDetails[0].ApprovedAmount)</th>
                    <th>@Html.DisplayNameFor(model => model.LoadDetails[0].IsApprovedDisplay)</th>
                    <th>@Html.DisplayNameFor(model => model.LoadDetails[0].Remarks)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var loadDetail in Model.LoadDetails)
                {
                    <tr class="text-center">
                        <td>@Html.DisplayFor(model => loadDetail.RowNum)</td>
                        <td>@Html.DisplayFor(model => loadDetail.RequestedDate)</td>
                        <td>@Html.DisplayFor(model => loadDetail.RequestedAmount)</td>
                        <td>@Html.DisplayFor(model => loadDetail.ApprovedAmount)</td>
                        <td>@Html.DisplayFor(model => loadDetail.IsApprovedDisplay)</td>
                        <td>@Html.DisplayFor(model => loadDetail.Remarks)</td>
                        <td><a asp-controller="Transactions" asp-action="CreateLoadTransaction" asp-route-loadIdEnc="@loadDetail.LoadIdEnc" class="btn btn-primary">Edit</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-info">No load transactions available.</div>
    }
</form>
@* </div>
</div> *@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}